* {margin: 0; padding: 0;}
img {display: block; width: 100%;}
li{list-style: none;}
a{text-decoration: none; color: black;}
ul {padding :0;}
p {margin: 0;}

.breadcrumb > li > a:hover {
  color: #BF1F1F;
  font-weight: bold;
}